@model IEnumerable<ProjectTLCNShopCore.EF.Shippers>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<noscript>
	<div class="alert alert-block span10">
		<h4 class="alert-heading">Warning!</h4>
		<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
	</div>
</noscript>

<!-- start: Content -->
<div id="content" class="span10">
	<ul class="breadcrumb">
		<li>
			<i class="icon-home"></i>
			<a href="index.html">Home</a>
			<i class="icon-angle-right"></i>
		</li>
		<li><a href="#">Đơn vị vận chuyển</a></li>
	</ul>

	<div class="row-fluid sortable">
		<div class="box span10">
			<div class="box-header" data-original-title>
				<h2><i class="icon-list-alt"></i><span class="break"></span>Đơn vị vận chuyển</h2>
				<div class="box-icon">
					<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
					<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
					<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
				</div>
			</div>
			<div class="box-content">

				@using (Html.BeginForm("Create", "Shippers", FormMethod.Get))
				{
					<div>
						<button class="btn btn-primary" type="submit">Create New</button>
					</div>

				}
				<table class="table table-striped table-bordered bootstrap-datatable datatable">
					<thead>
						<tr>
							<th width="10%">Mã Nhà VC</th>
							<th width="20%">Tên nhà VC</th>
							<th width="40%">Thông tin</th>
							<th width="15%">Số ĐT</th>
							<th>Hành động</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td class="center">@item.ShipperId</td>
								<td class="center">@item.CompanyName</td>
								<td class="center">@item.Description</td>
								<td class="center">@item.Phone</td>
								<td class="center">
									<a class="btn btn-info" href="/Admin/Shippers/Edit/@item.ShipperId">
										<i class="halflings-icon white edit"></i>
									</a>
									<a class="btn btn-danger" href="/Admin/Shippers/Delete/@item.ShipperId">
										<i class="halflings-icon white trash"></i>
									</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div><!--/span-->

	</div><!--/row-->
</div><!--/.fluid-container-->
<!-- end: Content -->







@*<h2>Index</h2>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.CompanyName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Phone)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.CompanyName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Phone)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.ShipperId">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.ShipperId">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.ShipperId">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>*@