@model ProjectTLCNShopCore.EF.Suppliers

@{
	ViewData["Title"] = "Create";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<!-- start: Content -->
<div id="content" class="span10">


	<ul class="breadcrumb">
		<li>
			<i class="icon-home"></i>
			<a href="index.html">Home</a>
			<i class="icon-angle-right"></i>
		</li>
		<li>
			<i class="icon-edit"></i>
			<a href="#">Create Suppliers</a>
		</li>
	</ul>

	<div class="row-fluid sortable">
		<div class="box span11">
			<div class="box-header" data-original-title>
				<h2><i class="halflings-icon edit"></i><span class="break"></span>Nhà cung cấp</h2>
				<div class="box-icon">
					<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
					<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
					<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
				</div>
			</div>
			<div class="box-content">
				@using (Html.BeginForm("Create", "Suppliers", FormMethod.Post, new { @class = "form-horizontal" }))
				{
					@*<form class="form-horizontal" action="Create" method="post">*@
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="typeahead">Tên nhà cung cấp: </label>
							<div class="controls">
								@Html.TextBoxFor(model => model.CompanyName, htmlAttributes: new { @class = "span6 typeahead", @placeholder = "Nhập nhà cung cấp", @id = "CategoryName" })
								<span asp-validation-for="CompanyName" class="text-danger"></span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="typeahead">Liên hệ: </label>
							<div class="controls">
								@Html.TextBoxFor(model => model.ContactName, htmlAttributes: new { @class = "span6 typeahead", @placeholder = "Liên hệ", @id = "ContactName" })
								<span asp-validation-for="ContactName" class="text-danger"></span>
							</div>
						</div>
						<div class="control-group hidden-phone">
							<label asp-for="Address" class="control-label" for="textarea2">Địa chỉ: </label>
							<div class="controls">
								@Html.TextBoxFor(model => model.Address, htmlAttributes: new { @class = "span6 typeahead", @id = "Address",  @placeholder = "Địa chỉ" })
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label" for="typeahead">Thành Phố: </label>
							<div class="controls">
								@Html.TextBoxFor(model => model.City, htmlAttributes: new { @class = "span6 typeahead", @id = "City", @placeholder = "Thành Phố" })
								<span asp-validation-for="Country" class="text-danger"></span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="typeahead">Quốc gia: </label>
							<div class="controls">
								@Html.TextBoxFor(model => model.Country, htmlAttributes: new { @class = "span6 typeahead", @id = "Country", @placeholder = "Quốc gia" })
								<span asp-validation-for="City" class="text-danger"></span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="typeahead">Số điện thoại: </label>
							<div class="controls">
								@Html.TextBoxFor(model => model.Phone, htmlAttributes: new { @class = "span6 typeahead", @id = "Phone",  @placeholder = "Số điện thoại" })
								<span asp-validation-for="Phone" class="text-danger"></span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="typeahead">Số Fax: </label>
							<div class="controls">
								@Html.TextBoxFor(model => model.Fax, htmlAttributes: new { @class = "span6 typeahead", @id = "Fax", @placeholder = "Số Fax" })
								<span asp-validation-for="Fax" class="text-danger"></span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="typeahead">Website: </label>
							<div class="controls">
								@Html.TextBoxFor(model => model.HomePage, htmlAttributes: new { @class = "span6 typeahead", @id = "HomePage", @placeholder = "Trang chủ" })
								<span asp-validation-for="HomePage" class="text-danger"></span>
							</div>
						</div>
						<div class="form-actions">
							<button type="submit" class="btn btn-primary">Create</button>
						</div>
					</fieldset>
						@*</form>*@

				}
			</div>
		</div><!--/span-->

	</div>
</div>