@model IEnumerable<ProjectTLCNShopCore.EF.Suppliers>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<noscript>
	<div class="alert alert-block span10">
		<h4 class="alert-heading">Warning!</h4>
		<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
	</div>
</noscript>

<!-- start: Content -->
<div id="content" class="span11">
	<ul class="breadcrumb">
		<li>
			<i class="icon-home"></i>
			<a href="index.html">Home</a>
			<i class="icon-angle-right"></i>
		</li>
		<li><a href="#">Nhà cung cấp</a></li>
	</ul>

	<div class="row-fluid sortable">
		<div class="box span11">
			<div class="box-header" data-original-title>
				<h2><i class="icon-briefcase"></i><span class="break"></span>Nhà cung cấp </h2>
				<div class="box-icon">
					<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
					<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
					<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
				</div>
			</div>
			<div class="box-content">

				@using (Html.BeginForm("Create", "Suppliers", FormMethod.Get))
				{
					<div>
						<button class="btn btn-primary" type="submit">Create New</button>
					</div>

				}
				<table class="table table-striped table-bordered bootstrap-datatable datatable">
					<thead>
						<tr>
							<th width="5%">ID</th>
							<th width="5%">Tên NCC</th>
							<th width="5%">Liên hệ</th>
							<th width="25%">Địa chỉ</th>
							<th width="5%">TPhố</th>
							<th width="5%">QGia</th>
							<th width="7%">Phone</th>
							<th width="5%">Fax</th>
							<th width="10%">WebSite</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td class="center">@item.SupplierId</td>
								<td class="center">@item.CompanyName</td>
								<td class="center">@item.ContactName</td>
								<td class="center">@item.Address</td>
								<td class="center">@item.City</td>
								<td class="center">@item.Country</td>
								<td class="center">@item.Phone</td>
								<td class="center">@item.Fax</td>
								<td class="center">@item.HomePage</td>
								<td class="center">
									<a class="btn btn-info" href="/Admin/Suppliers/Edit/@item.SupplierId">
										<i class="halflings-icon white edit"></i>
									</a>
									<a class="btn btn-danger" href="/Admin/Suppliers/Delete/@item.SupplierId">
										<i class="halflings-icon white trash"></i>
									</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div><!--/span-->

	</div><!--/row-->
</div><!--/.fluid-container-->
<!-- end: Content -->