@model ProjectTLCNShopCore.EF.Categories

@{
	ViewData["Title"] = "Edit";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<!-- start: Content -->
<div id="content" class="span10">


	<ul class="breadcrumb">
		<li>
			<i class="icon-home"></i>
			<a href="index.html">Home</a>
			<i class="icon-angle-right"></i>
		</li>
		<li>
			<i class="icon-edit"></i>
			<a href="#">Edit Categories</a>
		</li>
	</ul>

	<div class="row-fluid sortable">
		<div class="box span11">
			<div class="box-header" data-original-title>
				<h2><i class="halflings-icon edit"></i><span class="break"></span>Loại sản phẩm </h2>
				<div class="box-icon">
					<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
					<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
					<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
				</div>
			</div>
			<div class="box-content">
				@using (Html.BeginForm("Edit", "Categorie", FormMethod.Post, new { enctype = "multipart/form-data",@class = "form-horizontal" }))
				{

					<fieldset>
						<div class="control-group">
							<label class="control-label" for="typeahead">Tên loại sản phẩm:</label>
							<div class="controls">
								@Html.TextBoxFor(model => model.CategoryName, htmlAttributes: new { @class = "span6 typeahead", @id = "CategoryName" })
								<span asp-validation-for="CategoryName" class="text-danger"></span>
							</div>
						</div>
						<div class="control-group hidden-phone">
							<label asp-for="Description" class="control-label" for="textarea2">Mô tả:</label>
							<div class="controls">

								@Html.TextAreaFor(model => model.Description, htmlAttributes: new { @class = "cleditor", @id = "Description", @rows = "3" })
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="fileInput">Chọn ảnh:</label>
							<div class="controls">
								<input class="input-file uniform_on" id="Picture" asp-for="Picture" type="file", name="files" multiple >
								<img src="@Url.Content(Model.Picture)" width="5%" height="5%" />
								@*@Html.TextBoxFor(model => model.Picture, htmlAttributes: new { @class = "input-file uniform_on", @id = "Picture", @type = "file", @name = "files" })*@
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="typeahead">Thứ tự hiển thị:</label>
							<div class="controls">
								@Html.TextBoxFor(model => model.DisplayOrder, htmlAttributes: new { @class = "span6 typeahead", @id = "DisplayOrder" })
								<span asp-validation-for="DisplayOrder" class="text-danger"></span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" asp-for="IsDisplay" for="typeahead">Hiển thị:</label>
							<div class="controls">
								@*<input type="checkbox" asp-for="IsDisplay" class="span6 " id="IsDisplay">*@
								@Html.CheckBoxFor(mode => Model.IsDisplay, htmlAttributes: new { @class = "span6", @type = "checkbox", @id = "IsDisplay" })
							</div>
						</div>

						<div class="form-actions">
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</fieldset>

				}
			</div>
		</div><!--/span-->

	</div>
</div>