@model IEnumerable<ProjectTLCNShopCore.EF.Categories>
@using Microsoft.AspNetCore.Http
@{
	ViewData["Title"] = "Categories";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section scripts{
	<script src="~/myjs/categorie.js"></script>
	<script src="~/myjs/jquery.unobtrusive-ajax.min.js"></script>
}

<noscript>
	<div class="alert alert-block span10">
		<h4 class="alert-heading">Warning!</h4>
		<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
	</div>
</noscript>

<!-- start: Content -->
<div id="content" class="span10">
	<ul class="breadcrumb">
		<li>
			<i class="icon-home"></i>
			<a href="index.html">Home</a>
			<i class="icon-angle-right"></i>
		</li>
		<li><a href="#">Loại Sản phẩm</a></li>
	</ul>

	<div class="row-fluid sortable">
		<div class="box span11">
			<div class="box-header" data-original-title>
				<h2><i class="icon-list-alt"></i><span class="break"></span>Loại sản phẩm</h2>
				<div class="box-icon">
					<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
					<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
					<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
				</div>
			</div>
			<div class="box-content">

				@using (Html.BeginForm("Create", "Categorie", FormMethod.Get))
				{
					<div>
						<button class="btn btn-primary" type="submit">Create New</button>
					</div>

				}
				@*<div>
						<button class="btn btn-primary">@Html.ActionLink("Create", "Create")</button>
						<div><br /></div>
					</div>*@
				<table class="table table-striped table-bordered bootstrap-datatable datatable">
					<thead>
						<tr>
							<th width="9%">Mã loại SP</th>
							<th width="12%">Tên loại SP</th>
							<th width="30%">Mô tả</th>
							<th width="10%">Hình ảnh</th>
							<th width="10%">Hiển thị</th>
							<th width="8%">TT hiển thị</th>
							<th width="10%">Hành động</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td class="center">@item.CategoryId</td>
								<td class="center">@item.CategoryName</td>
								<td class="center">@item.Description</td>
								<td class="center">
									<img src="@Url.Content(item.Picture)" class="thumbnail-item-cart">
								</td>
								<td class="center"><a href="#" class="btn btn-success" data-id="@item.CategoryId">@Html.Raw(item.IsDisplay ? "Kích hoạt" : "Khoá")</a></td>
								<td class="center">@item.DisplayOrder</td>
								<td class="center">
									<a class="btn btn-info" href="/Admin/Categorie/Edit/@item.CategoryId">
										<i class="halflings-icon white edit"></i>
									</a>
									<a class="btn btn-danger" href="/Admin/Categorie/Delete/@item.CategoryId">
										<i class="halflings-icon white trash"></i>
									</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div><!--/span-->

	</div><!--/row-->
</div><!--/.fluid-container-->
<!-- end: Content -->
