@model ProjectTLCNShopCore.EF.Products

@{
	ViewData["Title"] = "Edit";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- start: Content -->
<div id="content" class="span10">
	<ul class="breadcrumb">
		<li>
			<i class="icon-home"></i>
			<a href="index.html">Home</a>
			<i class="icon-angle-right"></i>
		</li>
		<li>
			<i class="icon-edit"></i>
			<a href="#">Edit Product</a>
		</li>
	</ul>

	<div class="row-fluid sortable">
		<div class="box span11">
			<div class="box-header" data-original-title>
				<h2><i class="halflings-icon edit"></i><span class="break"></span>Sửa Sản Phấm</h2>
				<div class="box-icon">
					<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
					<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
					<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
				</div>
			</div>
			<div class="box-content">
				@using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
				{
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="typeahead">Tên sản phẩm</label>
							<div class="controls">
								@Html.TextBoxFor(model => model.ProductName, htmlAttributes: new { @class = "span6 typeahead", @placeholder = "Nhập tên sản phẩm", @id = "ProductName" })
								<span asp-validation-for="CategoryName" class="text-danger"></span>
							</div>
						</div>
						<div class="control-group hidden-phone">
							<label asp-for="CategoriesName" class="control-label" for="typeahead">Loại sản phẩm</label>
							<div class="controls">
								@Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "controls span6 typeahead" })
								@*@Html.TextAreaFor(model => model.Description, htmlAttributes: new { @class = "cleditor", @id = "Description", @rows = "3" })*@
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="typeahead">Giá:</label>
							<div class="controls">
								@Html.TextBoxFor(model => model.UnitPrice, htmlAttributes: new { @class = "span6 typeahead", @placeholder = "Nhập giá sản phẩm", @id = "UnitPrice" })
								<span asp-validation-for="CategoryName" class="text-danger"></span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="typeahead">Số lượng:</label>
							<div class="controls">
								@Html.TextBoxFor(model => model.UnitsInStock, htmlAttributes: new { @class = "span6 typeahead", @placeholder = "Nhập số lượng", @id = "UnitsInStock" })
								<span asp-validation-for="UnitsInStock" class="text-danger"></span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="typeahead">Số lượng an toàn:</label>
							<div class="controls">
								@Html.TextBoxFor(model => model.ReorderLevel, htmlAttributes: new { @class = "span6 typeahead", @placeholder = "Nhập số lượng chuẩn", @id = "ReorderLevel" })
								<span asp-validation-for="ReorderLevel" class="text-danger"></span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="typeahead">Giảm giá:</label>
							<div class="controls">
								@Html.TextBoxFor(model => model.Discount, htmlAttributes: new { @class = "span6 typeahead", @placeholder = "Nhập % giảm giá", @id = "Discount" })
								<span asp-validation-for="Discount" class="text-danger"></span>
							</div>
						</div>
						<div class="control-group hidden-phone">
							<label asp-for="CategoriesName" class="control-label" for="textarea2">Mô tả:</label>
							<div class="controls">
								@Html.TextAreaFor(model => model.Note, htmlAttributes: new { @class = "cleditor", @id = "Note", @rows = "3" })
							</div>
						</div>

						<div class="control-group hidden-phone">
							<label asp-for="CategoriesName" class="control-label" for="typeahead">Loại sản phẩm: </label>
							<div class="controls">
								@Html.DropDownList("SupplierID", null, htmlAttributes: new { @class = "controls span6 typeahead" })
							</div>
						</div>

						<div class="form-group">
							<label asp-for="Picture" class="control-label" for="typeahead">Hình ảnh:</label>
							<div class="controls">

								<input type="file" multiple name="files" id="file1" accept="image/gif, image/jpeg, image/png" ischoosed="false" required />

								@Html.ValidationMessageFor(model => model.Picture, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="form-actions">
							<button type="submit" class="btn btn-primary">Create</button>
							@Html.ActionLink("Cancel", "Index", "Products", null, new { @class = "btn btn-danger" })
						</div>
					</fieldset>
				}

			</div>
		</div><!--/span-->
	</div>
</div>
